<h3>New Item</h3>
{{x-form/input name label="Name"}}

{{#x-form/input category label="Category"}}
  <span>{{categories}}</span>
{{/x-form/input}}

{{x-form/input picture label="Picture"}}

<label class="f6 b db mb2">Since</label> {{input value=since class="input-reset ba b--black-20 pa2 mb2 db" type="date"}}

{{#x-form/buttons}}
  {{x-form/button "Add Item" click=(action 'addItem')}}
  {{x-form/button "Clear form" click=(action 'clearForm')}}
{{/x-form/buttons}}


