<img class="w2 w3-ns" alt= {{thing.name}} src= {{thing.imageUrl}}>
<div class="pl3 flex-auto">
  <span class="f6 db black-70">{{thing.name}}</span>
  <span class="f6 db black-70">{{thing.category}}</span>
</div>
<div>
  <span class="f6 db i black-70">{{time-ago thing.since}}</span>
</div>
