<h3>New Item</h3>
<label class="f6 b db mb2">Name</label> {{input value=name class="input-reset ba b--black-20 pa2 mb2 db w-100" placeholder="Item Name"}}
<label class="f6 b db mb2">Category</label> {{input value=category class="input-reset ba b--black-20 pa2 mb2 db w-100" placeholder="Category Name"}}
<span>{{categories}}</span>
<label class="f6 b db mb2">Picture</label> {{input value=imageUrl class="input-reset ba b--black-20 pa2 mb2 db w-100" placeholder="Image Url"}}
<label class="f6 b db mb2">Since</label> {{input value=since class="input-reset ba b--black-20 pa2 mb2 db" type="date"}}

<div class="flex flex-row-reverse">
  <div role="button" {{action 'addItem'}} class="near-white bg-animate mw-20 bg-near-black hover-bg-gray inline-flex items-center ma2 tc br2 pa2">
    <span class="f6 pl2 pr2">Add Item</span>
  </div>
</div>
