<h3>New Item</h3>

{{#x-form as |f|}}
  {{f.input name label="Name"}}
  {{#f.input category label="Category"}}
    <span>{{categories}}</span>
  {{/f.input}}
  {{f.input picture label="Picture"}}
  {{f.date since label="Since"}}

  {{#f.buttons as |bf|}}
    {{bf.button "Add Item" click=(action 'addItem')}}
    {{bf.button "Clear form" click=(action 'clearForm')}}
  {{/f.buttons}}
{{/x-form}}



