{{items-filter onChange=(action (mut query))}} 
{{items-form categories=categories onSubmit=(action 'add')}}

<button {{action 'toggleSort'}}>Sort By Name: {{nameSort}}</button>
{{items-list items=itemsSorted}}
