<div class="fl w-50">
  {{items-filter searchText=(readonly query) onChange=(action (mut query))}}

  <button {{action 'toggleSort'}}>Sort By Name: {{nameSort}}</button>
  {{items-list items=itemsSorted}}
</div>
<div class="fl w-50">
  {{outlet}}
</div>
